<html>
  <head>
    <meta charset="utf-8">
    <title>Vue Semestre i</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <!-- Add Bootstrap and Bootstrap-Vue CSS to the <head> section -->  
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>  
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>    
    <!-- Add Vue and Bootstrap-Vue JS just before the closing </body> tag -->  
    <script src="https://unpkg.com/vue/dist/vue.min.js"> </script>  
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"> </script>
    <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

      #form > input {
        display: flex;
        margin-bottom: 10px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }

      .button {
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: large;
      }

      #add {
        background-color: #27cc2c; /* Green */
        border-radius: 1rem;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: large;
      }

      .list {
        list-style-type: circle;
      }

    </style>

  </head>
  	<body>
      <div id="lugardetrabajo" class="container">
        <h1 v-if="cerrado">Por el momento estamos cerrados</h1>
        <img v-if="cerrado" class="img-rounded" src="https://insidescoopsf.sfgate.com/files/2013/04/closed.gif"/>
        <h1>Actividad 1</h1>
        {{ nombre }}

        <div class="form-group">
          <label>User Input:</label>
          <input type="text" class="form-control" v-model="libros[0].autor">
        </div>

        <!-- <div class="ui form">
          <div class="field">
            <br>
            <label>User Input</label>
            <input type="text" v-model="libros[0].autor">
            <br>
          </div>
        </div> -->
        <br>
        <button v-on:click="metodo" type="button" class="btn btn-success">
          Otro libro
        </button>
        <!-- class="ui button" -->
        <button v-on:click="dia" type="button" class="btn btn-info">
          mañana
        </button>
        <h4 v-if="noAbrimos">No abrimos mañana {{ tomorow }}</h4>
        <br>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Autor</th>
              <th>Libro</th>
              <th>Cantidad</th>
              <th>Oferta</th>
              <th>Eliminar</th>
              <th>Editar</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(book, i) in ordenarLibrosCantidad" >
              <td>{{ book.autor }}</td>
              <td>{{ book.titulo }}</td>
              <td>{{ book.cantidad }}</td>
              <td v-if="book.oferta" style="font-size: x-large; color: brown;">
                {{ book.descuento }} %
              </td>
              <td v-else style="font-size: large;">No hay oferta :(</td>
              <td>
                <button v-on:click="deleteBook(i)" type="button" class="btn btn-danger">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
              <td>
                <button v-on:click="edit(i)" type="button" class="btn btn-light">
                  <i class="fa fa-pencil"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <ul v-for="(book, i) in ordenarLibrosCantidad">
          <li v-if="book.oferta" style="font-size: large; color: brown;">
            {{ book.autor }} - {{ book.titulo }} - disponibles {{ book.cantidad }} - {{ book.descuento }} %
            <button v-on:click="deleteBook(i)">Eliminar</button>
            <button v-on:click="edit(i)">Editar</button>
          </li>
          <li v-else>
            {{ book.autor }} - {{ book.titulo }} - disponibles {{ book.cantidad }} - No hay oferta :(
            <button v-on:click="deleteBook(i)">Eliminar</button>
            <button v-on:click="edit(i)">Editar</button>
          </li>
        </ul> -->
        <div v-if="show">
          <h1>Actividad 3</h1>
          <form>
            <div class="form-group">
              <label>Nombre del Autor:</label>
              <input type="text" class="form-control" id="nameField" v-model="libros[currentIndex].autor">
            </div>
            <div class="form-group">
              <label>Nombre del libro:</label>
              <input type="text" class="form-control" id="titleField" v-model="libros[currentIndex].titulo">
            </div>
            <div class="form-group" id="offer">
              <label for="oferta">Tiene oferta</label>
              <input type="checkbox" v-model="libros[currentIndex].oferta">
            </div>
            <div v-if="libros[currentIndex].oferta" class="form-group">
              <label for="oferta">Descuento:</label>
              <input type="number" class="form-control" id="descuentoField" v-model="libros[currentIndex].descuento">
            </div>
            <div class="form-group">
              <label>Cantidad:</label>
              <input type="number" class="form-control" id="cantidadField" v-model="libros[currentIndex].cantidad">
            </div>
            <button type="submit" class="btn btn-primary" v-on:click="updateBook">Editar</button>
          </form>
          <!-- <div id='form'>
            <input type="text" id="nameField" v-model="editFields.author" placeholder="nombre">
            <input type="text" id="titleField" v-model="editFields.title" placeholder="Título">
            <div id="offer">
              <label for="oferta">Tiene oferta</label>
              <input type="checkbox" value="true" v-model="editFields.oferta">
            </div>
            <input v-if="editFields.oferta" type="number" id="descuentoField" v-model="editFields.descuento" placeholder="Descuento">
            <input type="number" id="cantidadField" v-model="editFields.cantidad" placeholder="Cantidad">
            <button id="add" v-on:click="updateBook">Editar</button>
          </div> -->
        </div>

        <div>
          <h1>Actividad 2</h1>
          <form>
            <div class="form-group">
              <label>Nombre del Autor:</label>
              <input type="text" class="form-control" id="nameField" placeholder="C. Clarke" v-model="inputFields.author">
            </div>
            <div class="form-group">
              <label>Nombre del libro:</label>
              <input type="text" class="form-control" id="titleField" placeholder="El fin de la vida" v-model="inputFields.title">
            </div>
            <div class="form-group" id="offer">
              <label for="oferta">Tiene oferta</label>
              <input type="checkbox" value="true" v-model="inputFields.oferta">
            </div>
            <div v-if="inputFields.oferta" class="form-group">
              <label for="oferta">Descuento:</label>
              <input type="number" class="form-control" id="inputFields" placeholder="30" v-model="inputFields.descuento">
            </div>
            <div class="form-group">
              <label>Cantidad:</label>
              <input type="number" class="form-control" id="cantidadField" placeholder="5" v-model="inputFields.cantidad">
            </div>
            <button type="submit" class="btn btn-primary" v-on:click="addBook">Agregar nuevo</button>
          </form>
          <!-- <div id='form'>
            <input type="text" id="nameField" v-model="inputFields.author" placeholder="nombre">
            <input type="text" id="titleField" v-model="inputFields.title" placeholder="Título">
            <div id="offer">
              <label for="oferta">Tiene oferta</label>
              <input type="checkbox" value="true" v-model="inputFields.oferta">
            </div>
            <input v-if="inputFields.oferta" type="number" id="descuentoField" v-model="inputFields.descuento" placeholder="Descuento">
            <input type="number" id="cantidadField" v-model="inputFields.cantidad" placeholder="Cantidad">
            <button id="add" v-on:click="addBook">Agregar nuevo</button>
          </div> -->
        </div>
        <br>
        <div>
          <h1>Actividad 4</h1>
          <div class="row">
            <div class="col-sm-6 mb-5" v-for="movie in peliculas">
              <div class="card" style="width:400px; border-radius: 1rem;">
                <!-- <img class="card-img-top" src="{{movie.url}}" style="width:100%"> -->
                <div class="card-body">
                  <h4 class="card-title">{{movie.name}}</h4>
                  <p class="card-text">Año {{movie.year}}</p>
                  <p class="card-text">Director {{movie.director}}</p>
                  <p class="card-text">Valoración {{movie.rating}}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div>
            <ul v-for="movie in peliculas" class="list">
              <li>
                {{movie.name}} - {{movie.year}} - {{movie.director}} - valoración ({{movie.rating}})
              </li>
            </ul>
          </div> -->
        </div>
        <br>
      </div>

      <div id="espacio">
          espacio
      </div>
        


		  <script type="text/javascript">
          //Una instancia de Vue que manejará esa área del documento #lugardetrabajo
          c = new Vue({
            el: "#lugardetrabajo",
            data :{
              ifActive: true,
              nombre: "La elegante vagancia",
              libros:[
                {
                  autor: "Ray Bradbury",
                  titulo: "Fahrenheit 451",
                  oferta: true,
                  cantidad: 24,
                  descuento: 50,
                },
                {
                  autor:"Clarke",
                  titulo:"la infancia",
                  oferta: false,
                  cantidad: 12,
                  descuento: null,
                },
                {
                  autor:"Arthur P.",
                  titulo:"El fin",
                  oferta: true,
                  cantidad: 40,
                  descuento: 30,
                },
                {
                  autor:"C. Clarke",
                  titulo:"El fin de la vida",
                  oferta: false,
                  cantidad: 5,
                  descuento: null,
                }
              ],
              inputFields: {
                author: "",
                title: "",
                oferta: false,
                cantidad: null,
                descuento: null
              },
              editFields: {
                author: "",
                title: "",
                oferta: false,
                cantidad: null,
                descuento: null
              },
              show: Boolean = false,
              cerrado: Boolean = false,
              noAbrimos: Boolean = false,
              tomorow: "",
              currentIndex: Number = 0,
              peliculas: [],
            },
            methods: {
              metodo: function() {
                console.log("click");
              },
              dia: function name() {
                var today = new Date();
                var dd = String(today.getDate() + 1).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0');
                var yyyy = today.getFullYear();

                var odd = ["1", "3", "5","7","9","11","13","15","17","19","21","23","25","27","29","31"];
                var even = ["2","4","6","8","10","12","14","16","18","20","22","24","26","28","30"];
                aux = even.includes(dd);

                today = dd + '/' + mm + '/' + yyyy;
                this.noAbrimos = aux;
                this.tomorow = today;
              },
              addBook: function() {
                if (this.inputFields.author == "" ||
                    this.inputFields.title == "" || 
                    this.inputFields.cantidad == null) {
                  alert("Debes de completar los inputs");
                } else {
                  this.libros.push({
                    autor: this.inputFields.author,
                    titulo: this.inputFields.title,
                    oferta: this.inputFields.oferta,
                    cantidad: this.inputFields.cantidad,
                    descuento: this.inputFields.descuento,
                  });
                    this.inputFields.author = "";
                    this.inputFields.title = ""; 
                    this.inputFields.oferta = false;
                    this.inputFields.cantidad = null;
                    this.inputFields.descuento = false;
                }
              },
              deleteBook: function(index) {
                this.libros.splice(index, 1);
              },
              edit: function(index) {
                this.show = true;
                this.currentIndex = index;
                console.log(this.currentIndex);
              },
              updateBook: function() {
                aux = this.libros[this.currentIndex];

                aux.autor = this.editFields.author,
                aux.titulo = this.editFields.title,
                aux.oferta = this.editFields.oferta,
                aux.cantidad = this.editFields.cantidad,
                aux.descuento = this.editFields.descuento
                this.show = false;
                this.editFields.author = "";
                this.editFields.title = ""; 
                this.editFields.oferta = false;
                this.editFields.cantidad = null;
                this.editFields.descuento = false;
              }
            },
            computed: {
              ordenarLibros: function(){
                console.log("computed");
                return _.orderBy(this.libros, ['autor'])
              }, 
              ordenarLibrosCantidad: function(){
                console.log("computed2");
                return _.orderBy(this.libros, ['cantidad'])
              }
            },
            watch: {
              nombre: function (data) {
                console.log("Algo ha cambiado", data);
              },
              tienda: function (data) {
                console.log("Estado", data);
              }
            },
            created() {
              fetch("/movie")
                .then(response => response.json())
                .then(data => this.peliculas = data);
            },
          });

		  </script>
	</body>
</html>