<html>
  <head>
    <meta charset="utf-8">
    <title>Vue Semestre i</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   
    <style>

    

    </style>

  </head>
  	<body>
        <div id="lugardetrabajo">
          {{ nombre }}

          <div class="ui form">
            <div class="field">
              <br>
              <label>User Input</label>
              <input type="text" v-model="libros[0].autor">
              <br>
            </div>
          </div>
          <br>
          <button class="ui button" v-on:click="metodo">
            Otro libro
          </button>
          <br>

          <ul v-for="book in libros">
            <li v-if="book.oferta != null" style="font-size: large; color: brown;">
                {{ book.autor }} - {{ book.titulo }} - {{ book.oferta }} %
            </li>
            <li v-else>
              {{ book.autor }} - {{ book.titulo }} - No hay oferta :(
          </li>
          </ul>
        </div>

        <div id="espacio">
           espacio
        </div>
        


		  <script type="text/javascript">
          //Una instancia de Vue que manejará esa área del documento #lugardetrabajo
          c= new Vue({
            el: "#lugardetrabajo",
            data :{
              ifActive: true,
              nombre: "La elegante vagancia",
              libros:[
                {
                  autor:"Ray Bradbury",
                  titulo:"Fahrenheit 451",
                  oferta: 50
                },
                {
                  autor:"Clarke",
                  titulo:"la infancia",
                  oferta: null
                },
                {
                  autor:"Arthur P.",
                  titulo:"El fin",
                  oferta: 35
                },
                {
                  autor:"C. Clarke",
                  titulo:"El fin de la vida",
                  oferta: null
                }
              ]
            },
            methods: {
              metodo: function() {
                console.log("click");
              }
            }
            
          });

		  </script>
	</body>
</html>