#lugardetrabajo {
    text-align: center;
}

#title {
    color: rgb(255, 0, 0);
}

#subtitle {
    color: rgb(123, 123, 126);
    font-size: medium;
}

#button {
    background-color: rgb(218, 104, 12);
    margin-bottom: 10px;
    font-size: large;
    border-radius: 1rem;
}

#list {
    list-style-type: square;
}

#list #data {
    font-size: medium;
    color: blue;
}

ul {
    list-style-type: start;
}

ul li {
    font-size: large;
    color: brown;
}